.critical{
    color:rgb(211, 198, 198);
}

.critical-image{
    text-align: center;
    
}
.critical-image {
    height: 320px;
    border:0px;
   
}
.critical-image img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.critical-roll{
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar{
    display: none;
}
