.home-hero{
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(211, 198, 198);
    background-position: center center;
    min-height: 100svh;
    width:100%;
    object-fit: cover;
}
.links{
     text-decoration: none;
     color:rgb(211, 198, 198);
}
.menu p{
    padding-top:7px ;
    padding-left: 40px;
}
.open{
    padding-top:78px;
}
.notopen{
    padding-top: 360px;
}
.hero-con h5{
    font-weight:450;
    letter-spacing: 0.5px;
    font-size: 30px;
    line-height: 2px;
}

.hero-con h1{
    font-weight:500;
    letter-spacing: 1px;
    font-size: 50px;
}
.hero-con p{
    font-size: 18px;
    padding-top: 4px;
    letter-spacing: 0.2px;
}
.hero-cons button{
    padding: 10px 20px;
    border-radius: 7px;
}
.innerfooter{
    padding-left: 83px;
}
.critical{
    color:rgb(211, 198, 198);
}


.critical-roll{
display:flex;
overflow-x:auto;
gap:15px;
padding-left:10px;
scroll-behavior:smooth;
}

.critical-roll::-webkit-scrollbar{
display:none;
}



.critical-image{
flex:0 0 17%;
}

@media(max-width:992px){
.critical-image{
flex:0 0 29%;
}
}



@media(max-width:576px){
.critical-image{
flex:0 0 58%;
}
}

.critical-image img{
width:100%;
border-radius:8px;
transition:0.3s;
}

.critical-image img:hover{
transform:scale(1.05);
}

.ab{
    position: relative;
}
.active{
    background-color: black;
    color: azure;
    z-index: 1000;
    position:fixed;
    width:100%;
    height: 100vh;
}
.black{
    display: none;
}
.close{
    position: absolute;
    top:9px;
    right:12rem;
    font-size: 31px;
    text-align: center;
    line-height: 23px;
    z-index: 1000;
    margin: 0%;
    
}
.close span{
font-size: 13px;
text-align: center;

}
