.new-hero{
    background: linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0)), url("images/wed3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(211, 198, 198);
    background-position: center center;
    min-height: 100svh;
    width:100%;
    object-fit: cover;
}
.tvshows-links{
     text-decoration: none;
     color:rgb(211, 198, 198);
}
.menu p{
    padding-top:7px ;
    padding-left: 40px;
}

.hero-con h5{
    font-weight:450;
    letter-spacing: 0.5px;
    font-size: 30px;
    line-height: 2px;
}

.hero-con h1{
    font-weight:500;
    letter-spacing: 1px;
    font-size: 50px;
}
.hero-con p{
    font-size: 18px;
    padding-top: 4px;
    letter-spacing: 0.2px;
}
.innerfooter{
    padding-left: 83px;
}
.critical{
    color:rgb(211, 198, 198);
}

.critical-image{
    text-align: center;
    
}
.critical-image {
    height: 320px;
    border:0px;
   
}
.critical-image img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.critical-roll{
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar{
    display: none;
}
@media(max-width:574px){
    .innerfooter{
        padding-left:10px !important;
    }
}
@media(max-width:1024px){
    .critical-image{
        height:270px !important;
    }
}
@media(max-width:992px){
    .hero-con h1{
        font-weight: 400 !important;
        font-size: 30px !important;
    }
    .hero-con p{
        font-size: 14px !important;
    }
}
@media(max-width:779px){
    .hero-con p{
        font-size: 12px !important;
    }
     .critical-image{
        height:250px !important;
    }
}
@media(max-width:545px){
    .hero-con p{
        font-weight: 300;
        font-size: 15px !important;
    }
     .critical-image{
        padding: 0px 10px !important;
    }
}
@media(max-width:434px){
    .hero-con p{
        font-size: 15px !important;
    }
    .critical-image{
        height:250px !important;
    }
}
@media(max-width:391px){
    .hero-con p{
        font-size: 13px !important;
    }
    .critical-image{
        height:250px !important;
    }
}
@media(max-width:344px){
    .hero-con p{
        font-size: 10px !important;
    }
    .hero-cons button{
        padding: 5px;
        font-size: 11px;
    }
    .menu .logo{
        font-size: 24px;
    }
    .toggle{
        padding: 0px 7px !important;
        font-size: 14px !important;
    }
}